body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: absolute;
    right: 10px;
    padding: 5px;
    top: 24px;
}

h1 {
    background-color: lightskyblue;
}

img {
    max-width: 100%;
    height: auto;
}